@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:regular,700&display=swap&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

li {
  list-style-type: none;
}

button, select {
  cursor: pointer;
  outline: 0 none !important;
}

input {
  outline: 0 none !important;
}

textarea {
  outline: 0 none !important;
}

body {
  color: rgba(53, 51, 51, 0.9);
  font-family: "Roboto";
  font-weight: 400;
}

/*адаптив для картинки*/
.ibg {
  position: relative;
}

.ibg:img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: "Noto Serif";
  font-size: 38px;
  line-height: 89.47368%;
  color: #222121;
}

.more_btn {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
}

.request_form {
  padding-bottom: 40px;
}

.request_form * {
  outline: none;
}

.request_form_body, .wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.request_form_body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/loading-buffering.gif") center/50px no-repeat;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.request_form_body._sending::after, .wrapper._sending::after {
  opacity: 1;
  visibility: visible;
}

.form_item {
  margin: 0 0 20px 0;
}

.form_label {
  font-size: 18px;
  margin: 0 0 10px 0;
  display: block;
}

.form_input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

textarea.form_input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options_item {
  margin: 0 0 10px 0;
}

.options_input {
  display: none;
}

.options_input:checked + .options_label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.options_label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options_label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #4e4a4a;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.options_label::after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.file_item {
  position: relative;
}

.file_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #77608d;
  padding: 0 20px;
  color: #fff;
}

.file_previev {
  max-width: 100px;
  display: inline-block;
  padding: 10px 0 0 0;
}

.file_previev img {
  max-width: 100%;
}

.checkbox_input {
  display: none;
}

.checkbox._error .checkbox_label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox_input:checked + .checkbox_label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox_label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox_label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #2b2929;
  border-radius: 4px;
  margin: 0 10px 0 0;
}

.checkbox_label::after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form_btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #6884ad;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 0 5px 0 #3972a1;
          box-shadow: 0 5px 0 #3972a1;
  border: 0;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form_btn:hover {
  background-color: #75a4ca;
}

.form_btn:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #3972a1;
          box-shadow: 0 2px 0 #3972a1;
}

.form_input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0 0;
  border-bottom: 1px solid rgba(53, 51, 51, 0.3);
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_list li {
  margin: 0 0 0 20px;
}

.header_link {
  font-size: 18px;
  color: rgba(53, 51, 51, 0.9);
}

.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call {
  font-size: 22px;
  color: #353333;
  margin: 0 0 0 10px;
}

.header_burger {
  display: none;
}

.header_menu_mobile {
  display: none;
}

._icon-phone:before {
  content: "\e900";
  color: #353333;
  font-size: 24px;
}

._icon-arrow:before {
  content: "\e904";
  color: #353333;
  font-size: 26px;
  padding: 25px;
  background-color: #FFE11D;
  border-radius: 50%;
}

._icon-obj_arrow:before {
  content: "\e905";
  font-size: 8px;
  margin: 0 0 0 10px;
}

.house_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 10px 40px 10px;
  position: relative;
}

.house_img {
  position: absolute;
  bottom: -50%;
  right: 1%;
  border: 20px solid #fff;
}

.house_img img {
  display: block;
  width: 100%;
  height: 100%;
}

.house_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
  padding: 65px 0 0 0;
}

.main_title {
  font-family: "Noto Serif";
  font-size: 92px;
  font-weight: 400;
  line-height: 89.13043%;
  color: #222121;
  margin: 0 0 22px 0;
}

.main_title_description {
  font-size: 36px;
}

.house_benefits {
  margin: 0 0 0 -45px;
}

.house_benefits_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits_item {
  font-size: 18px;
  font-weight: 300;
  color: rgba(53, 51, 51, 0.8);
  margin: 0 0 10px 0;
}

.house_benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.house_benefits_pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house_bg_content {
  background-image: url("../img/block_bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 670px;
}

.house_bg_content.container {
  padding: 0;
}

.house_bg_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.house_bg_info p {
  font-size: 24px;
  background: #fff;
  margin: 75px 0 0 0;
  padding: 25px 30px 30px 10px;
}

.house_bg_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.house_bg_icon {
  color: inherit;
  font-size: 24px;
  padding: 15px;
  background: #fff;
}

.objects_content {
  padding: 180px 0 90px 0;
}

.objects_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 0 0 6px;
}

.objects_all {
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  border-bottom: 1px solid #353333;
  padding: 0 0 4px 0;
}

.objects_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0 0 0;
}

.object_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
}

.object_img img {
  display: block;
  width: 100%;
  height: 100%;
}

.object_absolute {
  position: absolute;
  top: -5%;
  z-index: 2;
  right: -5%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background-color: #E40005;
  -webkit-transform: rotate(-29.93deg);
          transform: rotate(-29.93deg);
  border-radius: 100%;
  padding: 24px 7px;
}

.object_item_title {
  font-size: 18px;
  font-weight: 500;
  color: #353333;
  margin: 30px 0 20px 0;
}

.object_item_btn {
  margin: 55px 0 0 0;
}

.about_first_title {
  margin: 0 0 65px 0;
}

.about_slider, .about_second_video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.about_first_content {
  padding: 0 130px 0 0;
}

.about_first_content p:first-child {
  padding: 45px 0 30px 0;
}

.about_btn {
  margin: 50px 0 0 0;
}

.about_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_slider img {
  display: block;
  width: 100%;
}

.about_second_video img {
  display: block;
  width: 100%;
}

.about_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 170px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_second_info {
  padding: 0 0 0 55px;
}

.about_second_title {
  font-size: 26px;
  font-weight: 500;
  line-height: 138.46154%;
  color: #353333;
  margin: 40px 0 35px 0;
}

.plus_container {
  padding: 170px 10px;
}

.plus_title {
  text-align: center;
  margin: 0 0 95px 0;
}

.plus_item_title {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  line-height: 117.85714%;
  color: #353333;
  margin: 0 0 29px 0;
}

.plus_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plus_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
}

.plus_item:first-child {
  margin: 0 30px 0 0;
}

.plus_item:last-child {
  margin: 0 0 0 30px;
}

.plus_item p {
  text-align: center;
}

.mobile_br {
  display: none;
}

.video {
  background-color: #353333;
  padding: 115px 0 105px 0;
}

.video_title {
  font-size: 38px;
  font-family: "Noto Serif";
  font-weight: 400;
  line-height: 89.47368%;
  color: #fff;
  margin: 0 0 80px 0;
}

.video_item_title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 15px 0;
}

.video_item_text {
  color: rgba(255, 255, 255, 0.9);
  line-height: 137.5%;
}

.video_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video_item {
  width: 30%;
}

.video_img img {
  display: block;
  width: 100%;
}

.products_content {
  padding: 150px 0;
}

.products_text {
  margin: 65px 0 35px 0;
}

.products_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_link_circle {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 105.55556%;
  color: #353333;
  background-color: #FFE11D;
  -webkit-transform: rotate(18.35deg);
          transform: rotate(18.35deg);
  border-radius: 100%;
  padding: 38px 13px;
  margin: 0 0 0 28px;
}

.products_link_arrow:before {
  font-size: 12px;
}

.request_small_title {
  font-size: 18px;
  font-family: "Noto Serif";
  color: rgba(34, 33, 33, 0.9);
  margin: 25px 0 0 0;
}

.request_title {
  margin: 0 0 100px 0;
}

.request_inside_container {
  max-width: 995px;
  margin: 0 auto;
}

.request_text {
  margin: 0 0 35px 0;
}

.request_text_title {
  font-size: 22px;
  font-weight: 500;
  color: #1d1b1b;
}

.request_text_1 {
  margin: 25px 0 15px 0;
}

.footer {
  background-color: #353333;
  padding: 35px 0 30px 0;
}

.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 65px;
}

.footer_list_bold {
  color: #fff !important;
}

.footer_list_1 {
  margin: 0 0 40px 0;
}

.footer_list_1, .footer_list_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_list_1 a, .footer_list_2 a {
  border-bottom: 1px solid transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 14px 0;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_menu a {
  font-size: 18px;
  color: #fff;
  margin: 0 0 25px 0;
}

.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_contacts p {
  font-size: 18px;
}

.footer_contacts_title {
  color: #fff;
}

.footer_contacts_time, .footer_contacts_day {
  color: rgba(255, 255, 255, 0.7);
}

.footer_number {
  font-size: 22px;
  color: #fff;
  margin: 25px 0;
}

.footer_mail {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 35px 0;
}

.footer_icons a {
  color: rgba(255, 255, 255, 0.23);
  font-size: 31px;
}

.footer_icons a:nth-child(2) {
  margin: 0 29px;
}

.footer_items {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer_und {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0 0;
}

.footer_und p, .footer_und a {
  color: #fff;
}

.footer_und span {
  color: rgba(255, 255, 255, 0.7);
}

.footer_list, .footer_menu, .footer_contacts {
  padding-top: 35px;
}

@media (min-width: 768px) {
  .header_link {
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }
  .header_link:hover {
    color: #725C44;
  }
  .footer_list_1 a:hover, .footer_list_2 a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .footer_icons a:hover {
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #fff;
  }
}

@media (max-width: 1225px) {
  .objects_content {
    padding: 180px 20px 90px 20px;
  }
  .objects_items {
    overflow-x: scroll;
  }
  .object_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    padding: 0 15px;
  }
  .object_item:first-child {
    padding: 0 15px 0 0;
  }
  .object_item:last-child {
    padding: 0 0 0 15px;
  }
  .objects_header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .objects_title {
    width: 83%;
  }
}

@media (max-width: 1150px) {
  .about_first_content {
    padding: 0 20px 0 0;
  }
  .about_second_info {
    padding: 0 0 0 20px;
  }
  .about_first_title {
    margin: 0 0 40px 0;
  }
  .about_second_title {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1050px) {
  .header_link {
    font-size: 16px;
  }
  .call {
    font-size: 18px;
  }
  ._icon-phone:before {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .house_benefits {
    display: block;
    margin: 0 0 0 25px;
  }
  .house_benefits_pointer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 0 0;
  }
  .house_img {
    width: 303px;
  }
  .about_second {
    padding-top: 70px;
  }
  .about_second_title {
    font-size: 22px;
  }
  .plus_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .plus_item {
    width: 34%;
    margin: 0;
  }
  .plus_item:first-child {
    margin: 0 0 60px 0;
  }
  .plus_item:last-child {
    margin: 0;
  }
  .plus_item:nth-child(2) {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 950px) {
  .header_logo {
    width: 60px;
  }
  .header_logo img {
    width: 100%;
  }
  .header_link {
    font-size: 14px;
  }
  .call {
    font-size: 16px;
  }
  ._icon-phone:before {
    font-size: 14px;
  }
  .house_title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 480px;
            flex: 0 0 480px;
  }
  .main_title {
    font-size: 80px;
  }
  .main_title_description {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .call {
    font-size: 14px;
  }
  .house_img {
    width: 280px;
    bottom: -45%;
  }
  .objects_content {
    padding: 75px 10px 70px 10px;
  }
}

@media only screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .call {
    font-size: 16px;
  }
  ._icon-phone {
    display: none;
  }
  .house_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 50px 10px;
  }
  .house_benefits {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .house_benefits_pointer {
    margin: 0 100px 0 0;
  }
  ._icon-arrow:before {
    font-size: 12px;
    padding: 13px;
  }
  .house_img {
    width: 175px;
    border: 10px solid #fff;
    bottom: -26%;
    right: 2%;
  }
  .house_title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 0 20px 0;
  }
  .house_bg_icons {
    display: none;
  }
  .benefits_item:last-child {
    margin: 0;
  }
  .house_bg_info p {
    padding: 10px 20px 10px 10px;
  }
  .house_bg_logo {
    width: 84px;
  }
  .house_bg_logo img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .house_bg_content {
    height: 380px;
    background-size: cover;
  }
  .objects_all {
    display: none;
  }
  .objects_title {
    width: 100%;
  }
  .objects_items {
    padding: 50px 0 0 0;
    overflow: hidden;
  }
  .object_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .object_item:first-child {
    padding: 0;
  }
  .object_item:last-child {
    padding: 0;
  }
  .about_first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_first_content, .about_second_info {
    padding: 0;
  }
  .mobile_br {
    display: block;
  }
  .plus_item {
    width: 60%;
  }
  .plus_item:nth-child(3) {
    margin: 0 0 30px 0;
  }
  .header {
    margin: 0 0 25px 0;
  }
  .header_menu {
    display: none;
  }
  .header_logo, .header_contacts {
    z-index: 3;
  }
  .header_menu_mobile {
    padding: 25px 0 0 0;
    z-index: 2;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 80%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_list_mobile {
    text-align: center;
  }
  .header_list_mobile li {
    margin: 0 0 30px 0;
  }
  .header_list_mobile li:last-child {
    margin: 0;
  }
  .icon_link_mobile {
    font-size: 24px;
    color: inherit;
    padding: 20px 15px 0 15px;
  }
  .header_link_mobile {
    font-size: 18px;
    color: inherit;
  }
  .header_menu_mobile {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    margin: 98px 0 0 0;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  .header_menu_mobile.active {
    top: 0;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media only screen and (max-width: 505px) {
  .house_img {
    width: 125px;
    border: 8px solid #fff;
    bottom: -18%;
  }
  .main_title {
    font-size: 56px;
  }
  .main_title_description {
    font-size: 20px;
  }
  .benefits_item {
    font-size: 16px;
  }
  .house_bg_info p {
    font-size: 20px;
  }
  .house_bg_logo {
    width: 50px;
    padding: 0 0 5px 10px;
  }
  .title {
    font-size: 26px;
  }
  .plus_item {
    width: 85%;
  }
}

@media only screen and (max-width: 360px) {
  .main_title {
    font-size: 46px;
  }
  .main_title_description {
    font-size: 16px;
  }
  .benefits_item {
    font-size: 14px;
  }
  .house_img {
    bottom: -22%;
    right: 3%;
  }
  .house_benefits_pointer {
    margin: 0 60px 0 0;
  }
  .house_bg_info p {
    font-size: 16px;
  }
  .house_bg_logo {
    width: 35px;
  }
}
